<!DOCTYPE html>
<html lang="en">
<head>
    <title>Danske's List</title>
    <meta charset="UTF-8">

    <!--uses viewport which controls the width of the screen and scales to device-->
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <!-- Import my stylesheet from the static folder -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav>
    <div class="container nav-wrapper">
        <a class="brand-logo" href="/">Danske's List</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 style="text-align: center">What do you want to search for on Danske's List?</h1>
    <div class="row">
        <div class="col s4">
            <!-- Promo Content 1 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73">flash_on</i>
                <i class="material-icons medium icon-demo">inser_chart</i>
                <p>Fast craigslist web scraper</p>
                <p class="light center">Scrape away right here with a beatiful GUI.</p>
            </div>
        </div>
        <div class="col s4">
            <!-- Promo Content 2 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: orange">camera</i>
                <i class="material-icons medium icon-demo">inser_chart</i>
                <p>Filter your serarches</p>
                <p class="light center">We built in functionality to filter based on pricing</p>
            </div>
        </div>
        <div class="col s4">
            <!-- Promo Content 3 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: blue">chrome_reader_mode</i>
                <i class="material-icons medium icon-demo">inser_chart</i>
                <p>A much sexier front-end to Craigslist</p>
                <p class="light center">We built this with 💖 </p>
            </div>
        </div>
    </div>
</div>
<!--DRY = Do not repeat yourself-->
{% block content %}

{% endblock content %}
</body>
</html>