<!DOCTYPE html>
<html lang="en">
<head>
    <title>Danske's List</title>
    <meta charset="UTF-8">

    <!--uses viewport which controls the width of the screen and scales to device-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Import my stylesheet from the static folder -->
    <link rel="stylesheet"type="text/css" href="{% static 'css/style.css' %}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Danske's List</a>
        <ul id="nav-mobile"class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>
<h1 style="text-align: center">What do you want to search for on Danske's List?</h1>
<div class="row">
    <div class="col s4">
        <!-- Promo Content 1 goes here -->
        <div class="center">
            <i class="large material-icons" style="color: #EE6E73">flash_on</i>
            <i class="material-icons medium icon-demo">inser_chart</i>
            <p>Fast craigslist web scraper</p>
            <p class="light center">Scrape away right here with a beatiful GUI.</p>
        </div>
    </div>
</div>

</body>
</html>